.email-input {
  padding: 1.5rem;
  border: 1px solid $color-desaturated-blue;
  border-radius: 3px;
  &::placeholder {
    color: $color-light-gray;
    font-size: 1rem;
  }
}

.btn-blue {
  @include btn;
  background-color: $color-bright-blue;
  color: $color-white;
}

.action {
  &-button {
    display: inline-flex;
    align-items: center;
    color: $color-moderate-cyan;
    padding: 0.5rem;
    transition: 0.2s;
    border-bottom: transparent 1px solid;
    line-height: 0;

    &:hover {
      border-bottom: $color-moderate-cyan 1px solid;
    }
  }
  &-icon {
    height: 2.5rem;
    margin-left: 0.5rem;
  }
}

.testimonial {
  width: 35rem;
  height: 22rem;
  padding: 2.2rem 3.2rem;
  background: $color-white;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 0.8rem rgba($color-light-gray, 0.2),
    -0.5rem -0.5rem 1rem rgba($color-light-gray, 0.2);

  &-image {
    display: inline-block;
    height: 2rem;
  }

  &-text {
    font-size: $smaller-font-size;
    line-height: 1.6;
    padding: 1rem 0;
  }

  &-author {
    display: flex;
    align-items: center;

    &__avatar {
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &__name {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}
