@media screen and (max-width: 420px) {
  html {
    font-size: 9px;
  }

  // UTILITIES & COMPONENTS RESIZE
  .u-container {
    padding: 3rem 3rem;
  }

  .u-margin-bottom-small {
    margin-bottom: 4rem;
  }

  .section-heading {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;

    &-small {
      font-size: 2.1rem;
      font-weight: 700;
    }
  }

  .lead-big {
    font-size: $default-font-size;
  }

  .lead-default {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    text-align: center;
  }

  .email-input::placeholder {
    font-size: $default-font-size;
  }

  // HEADER RESIZE
  .header {
    padding: 0;

    .logo {
      width: 10rem;
    }

    .navbar {
      ul {
        li {
          a {
            padding: 0;
          }

          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  //IMAGES RESIZE
  .feature,
  .hero {
    .flex-container {
      flex-direction: column-reverse;
    }

    .hero-image,
    .feature-image {
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  // HERO
  .hero {
    input[type="email"],
    .btn-blue {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  // CURVED IMAGES SWAP
  .curved-edge {
    padding-top: 1rem;

    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
    }
  }

  // FEATURE
  .feature {
    padding-bottom: 2rem;

    &-text {
      .section-heading {
        font-size: 2.1rem;
        margin-top: 6rem;
      }

      .lead-default,
      .testimonial {
        text-align: left;
      }
    }
  }

  // ACTION CALL
  .action-call {
    input[type="email"],
    .btn-blue {
      width: 80%;
    }
  }

  // FOOTER RESIZE

  .footer {
    padding: 0 2rem;
    &-content {
      flex-direction: column;
      a {
        font-size: $bigger-font-size;
      }

      & > * {
        margin-bottom: 6rem;
      }

      .social {
        margin-right: 0;
        align-self: center;
      }
    }
  }
}
